#button_Area .row{
	text-align: center;
	border-width: 0px;
}

#button_Area .row button{
	font-size: 50px;
	border-radius: 0px;
	font-family: biome;
	height: 100%;
}

#button_Area{
	padding-top: 20px;
	padding-bottom: 20px;
}

#input_Area{
	padding-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

#input_Area input{
	border-width: 2px;
	padding-left: 25px;
	padding-right: 25px;
	height: 140px;
	font-size: 50px;
	font-weight: bold;
	color: white;
	font-family: biome;
}

#cal_Screen{
	height: 100%;
}